html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
  font-family:'Courier New';
}
.contain{
background-color:powderblue;
display: flex;
flex-wrap:flex;
justify-content:center;
}

.Heading{
  background-color:#F1AFEC;
  justify-content:center;
  font-family: 'Courier New';
  text-align: center;
  text-decoration:underline
}

.page {
  border: 2px solid #000;
  margin: 2px;
  text-align: center;
  padding: 30px;
  font-family:'Courier New';
}
.list{
	  background-color:#F1AFEC;
	text-align: center;
	display:inline-block;
	padding:10px;
	margin:20px;
	border: 2px hard #000
}

.vid{
background-image: url('http://cdn.playbuzz.com/cdn/c2c87635-a5da-468c-920a-3066bd8332b0/7162d7aa-773a-4bfe-82cf-3ea61d5fca11.jpg');
	background-repeat: no-repeat;
  background-position:right;
	display:inline;
	padding:20px;
	margin: 2px;
}
